<h1>Upcoming Rides</h1>

<div class="row">
    <div class="col-sm-4">
        <% for event in @events %>
            <p><%= event[:date] %> <a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
        <% end %>
        <% if @current_user %>
            <p class="mt-5">
                <a href="/event/new" class="btn btn-primary">Host a New Ride!</a>
            </p>
            <% end %>
    </div>
</div>
