<h1>Upcoming Rides</h1>

<div class="row">
    <div class="col-sm-4">
        <% for event in @events %>
            <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
        <% end %>
        <p class="mt-5">
            <a href="/event/new" class="btn btn-primary">Host a New Ride!</a>
        </p>
    </div>
</div>
